.transactions-wrapper {
    display: flex;
    justify-content: center;
    padding: 35px;
  }
  .wrapper {
    width: 800px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px;
  }
  .transactions-action {
    font-size: 12px;
  }
  .wrapper p {
    text-align: center;
  }
  
  table {
    width: 100%;
    padding: 10px 0px;
  }
  
  th {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px;
      padding: 12px;
  }
  
  td {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px;
    padding: 12px;
  }
  