.navbar {
  margin: 0;
  background-color: #4682b4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
p {
  font-size: 30px;
  color: white;
  margin: 32px;
}
a{
text-decoration: none;
color: white;
}
li {
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  display: inline;
}
